body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: #333;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
}

h4 {
    margin-top: 30px;
    color: #555;
}