body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #007BFF;
}

img {
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #555;
}

ul {
    list-style-type: square;
}

.idea {
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

nav a.current {
    color: #555;
    pointer-events: none;
    text-decoration: none;
}