body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
}

h4 {
    margin-top: 30px;
    color: #555;
}

div#myId {
    width: 90%;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    text-align: center;
    margin: 0 auto;
}

td {
    padding: 5px;
    text-align: center;
}